/* Cible l'image à côté du titre "FrancophonIA" (attention, le titre est dynamique) */
.md-header__button.md-logo img {
    height: 1.6rem; !important  /* 1.2rem -> 1.6rem */
}

/* Cible tous les 'code line' */
.md-content code {
    background-color: #e3ecff;
}

/* Cible les blocks de code sans coloration syntaxique */
.highlight code {
    background-color: inherit;
}

/* Cible les blocks de code avec coloration syntaxique */
.codehilite code {
    background-color: white;
}

/* Cible les titres de niveau 1 dans le corps du texte */
.md-content h1 {
    color: #242e66;
}

.md-header {
}

/* Cible la barre de navigation */
.md-tabs {
    background-color: #39489e;
}

/* Bouton "Edit this page" */
.md-content__button.md-icon svg {
    color: inherit;
}